{% extends "website/base.html" %}

{% block content %}
<div class="peoplecontent">
    <h1>Our Crew</h1>
    <div class="crewmembers">
        <div class="crewmember">
            <div class="memberimage">
                <img src="/static/img/emma.jpg" alt="member image" style="width:200px;height:200px;">
            </div>
            <div class="membername">EMMA WATSON</div>
            <div class="designation">C.E.O AK CORP</div>
        </div>
        <div class="crewmember">
            <div class="memberimage">
                <img src="/static/img/daniel.jpg" alt="member image" style="width:200px;height:200px;">
            </div>
            <div class="membername">DANIEL RADCLIFFE</div>
            <div class="designation">COO</div>
        </div>
        <div class="crewmember">
            <div class="memberimage">
                <img src="/static/img/will.webp" alt="member image" style="width:200px;height:200px;">
            </div>
            <div class="membername">WILL SMITH</div>
            <div class="designation">TECHNICAL TEAM</div>
        </div>
        <div class="crewmember">
            <div class="memberimage">
                <img src="/static/img/jessica.jpg" alt="member image" style="width:200px;height:200px;">
            </div>
            <div class="membername">JESSICA ALBA</div>
            <div class="designation"> R & D HEAD </div>
        </div>
        <div class="crewmember">
            <div class="memberimage">
                <img src="/static/img/brie.jpg" alt="member image" style="width:200px;height:200px;">
            </div>
            <div class="membername">BRIE LARSON</div>
            <div class="designation"> DESIGN TEAM </div>
        </div>
        <div class="crewmember">
            <div class="memberimage">
                <img src="/static/img/ellen.jpg" alt="member image" style="width:200px;height:200px;">
            </div>
            <div class="membername">ELLEN DEGENREOUS</div>
            <div class="designation"> MARKETING HEAD </div>
        </div>
    </div>
    {% endblock  %}